API_HOST=0.0.0.0
API_PORT=YOUR_API_PORT

SUPABASE_API_PORT=YOUR_SUPABASE_API_PORT
SUPABASE_DB_PORT=YOUR_SUPABASE_DB_PORT
SUPABASE_DB_SHADOW_PORT=YOUR_SUPABASE_DB_SHADOW_PORT
SUPABASE_DB_POOLER_PORT=YOUR_SUPABASE_DB_POOLER_PORT
SUPABASE_STUDIO_PORT=YOUR_SUPABASE_STUDIO_PORT
SUPABASE_INBUCKET_PORT=YOUR_SUPABASE_INBUCKET_PORT
SUPABASE_ANALYTICS_PORT=YOUR_SUPABASE_ANALYTICS_PORT

POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=YOUR_POSTGRES_PORT
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgres://postgres:postgres@127.0.0.1:YOUR_POSTGRES_PORT/postgres
